Repository ls1intum/Hephaestus, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, client, application-server, intelligence-service, intelligence-service-hono, webhook-ingest

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**

client:
  - changed-files:
    - any-glob-to-any-file: webapp/**

application-server:
  - changed-files:
    - any-glob-to-any-file: server/application-server/**

intelligence-service:
  - changed-files:
    - any-glob-to-any-file: "server/intelligence-service/**"

intelligence-service-hono:
  - changed-files:
    - any-glob-to-any-file: "server/intelligence-service-hono/**"

webhook-ingest:
  - changed-files:
    - any-glob-to-any-file: "server/webhook-ingest/**"

feature:
  - head-branch: ['^feature', 'feature', '^feat', 'feat']

bug:
  - head-branch: ['^fix', 'fix', '^bug', 'bug']

checkpoint
  package-lock.json
  package.json
  scripts/db-utils.sh
  server/intelligence-service-hono/biome.json
  server/intelligence-service-hono/drizzle.config.ts
  server/intelligence-service-hono/package.json
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/db/0000_silent_scalphunter.sql
  server/intelligence-service-hono/src/db/index.ts
  server/intelligence-service-hono/src/db/meta/0000_snapshot.json
  server/intelligence-service-hono/src/db/meta/_journal.json
  server/intelligence-service-hono/src/db/relations.ts
  server/intelligence-service-hono/src/db/schema.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/index.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
  server/intelligence-service-hono/src/lib/constants.ts
  server/intelligence-service-hono/src/lib/create-app.ts
  server/intelligence-service-hono/src/lib/types.ts
  server/intelligence-service-hono/src/lib/zod-utils.ts
  server/intelligence-service-hono/src/middlewares/pino-logger.ts
  server/intelligence-service-hono/src/openapi.ts
  server/intelligence-service-hono/src/routes/index.route.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.handlers.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.index.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.routes.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.test.ts
  server/intelligence-service-hono/tsconfig.json
Labels: intelligence-service-hono

change from OID to text
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/BadPracticeDetection.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/BadPracticeFeedback.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/issue/Issue.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/issuecomment/IssueComment.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/milestone/Milestone.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreview/PullRequestReview.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreviewcomment/PullRequestReviewComment.java
  server/intelligence-service-hono/src/db/relations.ts
  server/intelligence-service-hono/src/db/schema.ts
Labels: application-server, intelligence-service-hono

update
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/issuecomment/IssueComment.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/milestone/Milestone.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreviewcomment/PullRequestReviewComment.java
  server/intelligence-service-hono/drizzle.config.ts
  server/intelligence-service-hono/package.json
  server/intelligence-service-hono/scripts/post-introspect.ts
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/db/index.ts
  server/intelligence-service-hono/src/db/meta/0000_snapshot.json
  server/intelligence-service-hono/src/db/meta/_journal.json
  server/intelligence-service-hono/src/db/relations.ts
  server/intelligence-service-hono/src/db/schema.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/index.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
  server/intelligence-service-hono/src/lib/constants.ts
  server/intelligence-service-hono/src/lib/create-app.ts
  server/intelligence-service-hono/src/lib/types.ts
  server/intelligence-service-hono/src/lib/zod-utils.ts
  server/intelligence-service-hono/src/middlewares/pino-logger.ts
  server/intelligence-service-hono/src/routes/index.route.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.handlers.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.index.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.routes.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.test.ts
Labels: application-server, intelligence-service-hono

remove test
  server/intelligence-service-hono/src/routes/tasks/tasks.test.ts
Labels: intelligence-service-hono

add openapi
  server/intelligence-service-hono/.env.example
  server/intelligence-service-hono/openapi.yaml
  server/intelligence-service-hono/scripts/export-openapi.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.handlers.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.routes.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.schemas.ts
Labels: intelligence-service-hono

update drizzle logic
  server/intelligence-service-hono/drizzle.config.ts
  server/intelligence-service-hono/package.json
  server/intelligence-service-hono/scripts/post-introspect.ts
  server/intelligence-service-hono/src/db/0000_silent_scalphunter.sql
  server/intelligence-service-hono/src/db/index.ts
  server/intelligence-service-hono/src/db/meta/0000_snapshot.json
  server/intelligence-service-hono/src/db/meta/_journal.json
  server/intelligence-service-hono/src/db/relations.ts
  server/intelligence-service-hono/src/db/schema.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
Labels: intelligence-service-hono

more stuff
  server/intelligence-service-hono/.env.example
  server/intelligence-service-hono/drizzle.config.ts
  server/intelligence-service-hono/scripts/export-openapi.ts
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/db/relations.ts
  server/intelligence-service-hono/src/db/schema.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/lib/ai-model.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
  server/intelligence-service-hono/src/lib/create-app.ts
  server/intelligence-service-hono/src/routes/health.route.ts
  server/intelligence-service-hono/src/routes/index.route.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.handlers.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.routes.ts
  server/intelligence-service-hono/src/routes/tasks/tasks.schemas.ts
Labels: intelligence-service-hono

add poem
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/env.ts
  server/intelligence-service-hono/src/routes/poem.route.ts
Labels: intelligence-service-hono

add langfuse
  package-lock.json
  server/intelligence-service-hono/package.json
  server/intelligence-service-hono/src/index.ts
  server/intelligence-service-hono/src/instrumentation.ts
  server/intelligence-service-hono/src/lib/langfuse.ts
  server/intelligence-service-hono/src/routes/poem.route.ts
Labels: intelligence-service-hono

observe poem
  server/intelligence-service-hono/.env.example
  server/intelligence-service-hono/.vscode/launch.json
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/index.ts
  server/intelligence-service-hono/src/instrumentation.ts
  server/intelligence-service-hono/src/lib/langfuse.ts
  server/intelligence-service-hono/src/lib/telemetry.ts
  server/intelligence-service-hono/src/lib/typed.ts
  server/intelligence-service-hono/src/routes/index.route.ts
  server/intelligence-service-hono/src/routes/poem.route.ts
  server/intelligence-service-hono/src/routes/poem/poem.handlers.ts
  server/intelligence-service-hono/src/routes/poem/poem.index.ts
  server/intelligence-service-hono/src/routes/poem/poem.prompts.ts
  server/intelligence-service-hono/src/routes/poem/poem.routes.ts
  server/intelligence-service-hono/src/routes/poem/poem.schemas.ts
Labels: intelligence-service-hono

migrate detector
  server/intelligence-service-hono/openapi.yaml
  server/intelligence-service-hono/src/app.ts
  server/intelligence-service-hono/src/lib/configure-open-api.ts
  server/intelligence-service-hono/src/lib/telemetry.ts
  server/intelligence-service-hono/src/routes/detector/detector.handlers.ts
  server/intelligence-service-hono/src/routes/detector/detector.index.ts
  server/intelligence-service-hono/src/routes/detector/detector.prompts.ts
  server/intelligence-service-hono/src/routes/detector/detector.routes.ts
  server/intelligence-service-hono/src/routes/detector/detector.schemas.ts
  server/intelligence-service-hono/src/routes/index.route.ts
  server/intelligence-service-hono/src/routes/poem/poem.handlers.ts
  server/intelligence-service-hono/src/routes/poem/poem.prompts.ts
Labels: intelligence-service-hono

feat: state push for the teamLeaderboard functionality with the main idea (prone to changes) and some start of adding a unit test for it
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/github/GitHubUserConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardController.kt
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardService.kt
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardServiceTest.kt
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/testconfig/TestUserConfig.java
Labels: application-server

feat: state push for the teamLeaderboard functionality with new order idea (still prone to changes)
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardService.kt
Labels: application-server

feat: update time range for all-time leaderboard and refactor team repository integration (just trying to uncover the mysteries of jpa)
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardController.kt
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardService.kt
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamLeaderboardServiceTest.kt
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/teamleaderboard/kotlin/TeamRepositoryIntegrationTest.kt
Labels: application-server

chore(webapp): run npm install with after develop merge on this branch fix(webapp): fixed some team and dependency related stuff in the webapp
  package-lock.json
  server/application-server/openapi.yaml
  webapp/src/api/@tanstack/react-query.gen.ts
  webapp/src/api/client/client.gen.ts
  webapp/src/api/client/index.ts
  webapp/src/api/client/types.gen.ts
  webapp/src/api/client/utils.gen.ts
  webapp/src/api/core/auth.gen.ts
  webapp/src/api/core/bodySerializer.gen.ts
  webapp/src/api/core/params.gen.ts
  webapp/src/api/core/pathSerializer.gen.ts
  webapp/src/api/core/types.gen.ts
  webapp/src/api/sdk.gen.ts
  webapp/src/api/transformers.gen.ts
  webapp/src/api/types.gen.ts
  webapp/src/components/team-leaderboard/TeamLeaderboardPage.stories.tsx
  webapp/src/components/team-leaderboard/TeamLeaderboardTable.tsx
Labels: client, application-server

fix: update deployment conditions to support tag-based deployments in CI/CD workflows
  .github/workflows/cicd.yml
  .github/workflows/release.yml
Labels: none
