Repository ls1intum/Hephaestus, pull requests merged in 2024-11, with the labels that each got.

#106 Generate Java API Client for Intelligence Service's OpenAPI Specifications
  .github/workflows/generate-application-server-client.yml
  .github/workflows/generate-intelligence-service-client.yml
  .gitignore
  package-lock.json
  package.json
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/WebConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/ApiClient.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/BaseApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/BeanValidationException.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/JavaTimeFormatter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/RFC3339DateFormat.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/ServerConfiguration.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/ServerVariable.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/DefaultApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/auth/ApiKeyAuth.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/auth/Authentication.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/auth/HttpBasicAuth.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/auth/HttpBearerAuth.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ChatRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ChatResponse.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/HTTPValidationError.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ValidationError.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ValidationErrorLocInner.java
  server/intelligence-service/app/config.py
  server/intelligence-service/app/generate_openapi_yaml.py
  server/intelligence-service/app/main.py
  server/intelligence-service/app/model.py
  server/intelligence-service/openapi.yaml
  server/intelligence-service/openapitools.json
Labels: client, application-server, size:XXL, intelligence-service, feature

#134 Install black to the intelligence service
  .github/workflows/black.yml
  server/intelligence-service/poetry.lock
  server/intelligence-service/pyproject.toml
Labels: size:XXL, priority:low, intelligence-service

#135 `PR Template`: Add Testing Instructions to template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, size:XS

#136 `Application-Server`: Java Code Formatting with Prettier
  .github/workflows/application-server-qa.yml
  .vscode/settings.json
  package-lock.json
  package.json
  project.code-workspace
  server/application-server/.prettierrc.yaml
  webapp/package-lock.json
  webapp/package.json
Labels: enhancement, client, application-server, size:L

#137 Automated Liquibase diff generation from hibernate schema changes in development
  .github/workflows/generate-application-server-client.yml
  package.json
  server/application-server/compose.yaml
  server/application-server/pom.xml
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/db/initial-schema.xml
  server/application-server/src/main/resources/db/master.xml
Labels: application-server, size:L

#133 Simple AI mentor chat logic
  .github/workflows/generate-application-server-client.yml
  .github/workflows/generate-intelligence-service-client.yml
  .github/workflows/intelligence-service-qa.yml
  package.json
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/DefaultApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ChatRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/ChatResponse.java
  server/intelligence-service/app/config.py
  server/intelligence-service/app/main.py
  server/intelligence-service/app/model.py
  server/intelligence-service/openapi.yaml
  server/intelligence-service/poetry.lock
  server/intelligence-service/pyproject.toml
Labels: application-server, size:L, priority:medium, intelligence-service, feature

#129 `Developer notifications`: Slack bot with weekly post
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/GitHubConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/SlackAppConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserInfoDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/SlackMessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/MetaDataDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/MetaService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/syncing/GitHubDataSyncScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/syncing/GitHubDataSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/syncing/NatsConsumerService.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application-specs.yml
  server/application-server/src/main/resources/application.yml
  webapp/src/app/core/modules/openapi/api/leaderboard.service.ts
  webapp/src/app/core/modules/openapi/api/leaderboard.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/meta-data.ts
  webapp/src/app/core/modules/openapi/model/user-info.ts
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.html
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
  webapp/src/app/home/leaderboard/leaderboard.component.ts
Labels: enhancement, client, application-server, size:XL

#153 Fix: Timeframe Same Day Detection
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
Labels: bug, client, size:S, priority:critical

#158 Fix: Changing Server Timezone
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/Application.java
Labels: bug, application-server, size:XS

#161 Improve Liquibase changelog generation
  package-lock.json
  package.json
Labels: enhancement, application-server, size:L, feature

#162 Popover for reviewed PRs & Copy-Button
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardEntryDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  webapp/src/app/core/modules/openapi/model/leaderboard-entry.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/home/leaderboard/leaderboard.stories.ts
  webapp/src/app/home/leaderboard/reviews-popover/reviews-popover.component.html
  webapp/src/app/home/leaderboard/reviews-popover/reviews-popover.component.ts
  webapp/src/app/home/leaderboard/reviews-popover/reviews-popover.stories.ts
Labels: enhancement, client, application-server, size:XL, feature

#166 Fix: No Nats Connection Attempts if Disabled
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/NatsConfig.java
Labels: bug, application-server, size:XS

#171 Fix: Show new Leaderboard instantly
  webapp/src/app/home/home.component.ts
Labels: bug, client, size:XS, priority:critical

#178 Fix: Add After + Before to Leaderboard Link
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/SlackMessageService.java
Labels: bug, application-server, size:M

#180 Add imprint
  webapp/Dockerfile
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/app.routes.ts
  webapp/src/app/core/footer/footer.component.html
  webapp/src/app/legal/imprint/imprint.component.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/tailwind.config.ts
Labels: client, size:L

#182 Add settings page to delete user
  server/application-server/keycloak-hephaestus-realm-example-config.json
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/OpenAPIConfiguration.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/KeycloakConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserController.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/core/modules/openapi/api/user.service.ts
  webapp/src/app/core/modules/openapi/api/user.serviceInterface.ts
  webapp/src/app/settings/settings.component.ts
Labels: client, application-server, size:XXL

#184 Add privacy statement
  webapp/Dockerfile
  webapp/src/app/app.component.ts
  webapp/src/app/app.routes.ts
  webapp/src/app/core/footer/footer.component.html
  webapp/src/app/legal/imprint.component.ts
  webapp/src/app/legal/privacy.component.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/src/styles.css
Labels: client, size:M

#167 Display Review Score on User Profiles
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreview/PullRequestReviewInfoDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreview/PullRequestReviewInfoDTOConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/ScoringService.java
  webapp/src/app/core/modules/openapi/model/pull-request-review-info.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/home/leaderboard/legend/legend.component.html
  webapp/src/app/home/leaderboard/reviews-popover/reviews-popover.component.html
  webapp/src/app/user/review-activity-card/review-activity-card.component.html
  webapp/src/app/user/review-activity-card/review-activity-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.stories.ts
  webapp/src/app/user/user-profile.component.html
  webapp/src/app/user/user-profile.component.ts
  webapp/src/libs/ui/ui-card-helm/src/lib/hlm-card-content.directive.ts
Labels: enhancement, client, application-server, needs work, size:L, feature

#164 Custom Keycloak theme with required login
  keycloakify/.eslintrc.cjs
  keycloakify/.gitignore
  keycloakify/.prettierignore
  keycloakify/.prettierrc.json
  keycloakify/.storybook/main.ts
  keycloakify/.storybook/preview-head.html
  keycloakify/.storybook/preview.ts
  keycloakify/LICENSE
  keycloakify/README.md
  keycloakify/components.json
  keycloakify/dist_keycloak/keycloak-theme-for-kc-22-to-25.jar
  keycloakify/dist_keycloak/keycloak-theme-for-kc-all-other-versions.jar
  keycloakify/index.html
  keycloakify/package-lock.json
  keycloakify/package.json
  keycloakify/postcss.config.js
  keycloakify/public/favicon-32x32.png
  keycloakify/src/components/theme-context.tsx
  keycloakify/src/components/theme-switcher.tsx
  keycloakify/src/components/ui/alert.tsx
  keycloakify/src/components/ui/button.tsx
  keycloakify/src/components/ui/input.tsx
  keycloakify/src/components/ui/label.tsx
  keycloakify/src/kc.gen.tsx
  keycloakify/src/lib/utils.ts
  keycloakify/src/login/KcContext.ts
  keycloakify/src/login/KcPage.tsx
  keycloakify/src/login/KcPageStory.tsx
  keycloakify/src/login/Template.tsx
  keycloakify/src/login/UserProfileFormFields.tsx
  keycloakify/src/login/i18n.ts
  keycloakify/src/login/index.css
  keycloakify/src/login/pages/Error.stories.tsx
  keycloakify/src/login/pages/Error.tsx
  keycloakify/src/login/pages/Info.stories.tsx
  keycloakify/src/login/pages/Info.tsx
  keycloakify/src/login/pages/Login.stories.tsx
  keycloakify/src/login/pages/Login.tsx
  keycloakify/src/login/pages/LoginPageExpired.stories.tsx
  keycloakify/src/login/pages/LoginPageExpired.tsx
  keycloakify/src/login/pages/LoginUpdateProfile.stories.tsx
  keycloakify/src/login/pages/LoginUpdateProfile.tsx
  keycloakify/src/main.tsx
  keycloakify/src/vite-env.d.ts
  keycloakify/tailwind.config.js
  keycloakify/tsconfig.json
  keycloakify/tsconfig.node.json
  keycloakify/vite.config.ts
  keycloakify/yarn.lock
  server/application-server/compose.yaml
  server/application-server/keycloak-hephaestus-realm-example-config.json
  webapp/src/app/app.routes.ts
  webapp/src/app/core/footer/footer.component.html
  webapp/src/app/core/security/auth.guard.ts
  webapp/src/environments/environment.ts
Labels: client, application-server, size:XXL, feature

#186 Fix of the GitHub workflow application-server-qa
  .github/workflows/application-server-qa.yml
Labels: bug, size:XS

#188 Fix: Use correct After-queryParam when none specified
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
  webapp/src/app/workspace/teams/table/teams-table.component.ts
Labels: bug, client, size:M, priority:critical

#189 Fix: Timeframe Parameter Consistency on Navigation
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
Labels: bug, client, size:M, priority:critical

#190 Fix: Keycloak Refresh Tokens before Expiry
  webapp/src/app/core/security/keycloak.service.ts
Labels: bug, client, size:S, priority:critical

#193 Fix: Sort Teams in Metadata alphabetically
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/MetaService.java
  webapp/src/app/home/leaderboard/filter/team/team.component.ts
Labels: bug, client, application-server, size:S

#194 `Refactor`: Modularization of Task Scheduling
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardTaskScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/SlackMessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/SlackWeeklyLeaderboardTask.java
Labels: application-server, size:L
