Repository ls1intum/Hephaestus, pull requests merged in 2024-08, with the labels that each got.

#29 QA/Lint: Prettier + ESLint for the webapp
  .github/workflows/webapp-qa.yml
  .vscode/settings.json
  webapp/.prettierignore
  webapp/.prettierrc
  webapp/.vscode/extensions.json
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
Labels: enhancement, client, needs test, priority:high

#11 Add Input Field + Label Components
  webapp/src/app/ui/input/input.component.html
  webapp/src/app/ui/input/input.component.ts
  webapp/src/app/ui/input/input.stories.ts
  webapp/src/app/ui/label/label.component.html
  webapp/src/app/ui/label/label.component.ts
  webapp/src/app/ui/label/label.stories.ts
Labels: enhancement, client, size:L

#36 Fix linting issues and run prettier
  webapp/eslint.config.js
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/example/counter/counter.component.html
  webapp/src/app/example/counter/counter.component.ts
  webapp/src/app/example/counter/counter.stories.ts
  webapp/src/app/example/counter/counter.ts
  webapp/src/app/example/hello/hello.component.ts
  webapp/src/app/storybook.helper.ts
  webapp/src/app/ui/button/button/button.component.html
  webapp/src/app/ui/button/button/button.component.ts
  webapp/src/app/ui/button/button/button.stories.ts
  webapp/src/app/ui/input/input.component.html
  webapp/src/app/ui/input/input.component.ts
  webapp/src/app/ui/input/input.stories.ts
  webapp/src/app/ui/label/label.component.html
  webapp/src/app/ui/label/label.component.ts
  webapp/src/app/ui/label/label.stories.ts
  webapp/src/app/utils.ts
  webapp/src/index.html
  webapp/src/main.ts
  webapp/src/styles.css
Labels: client

#35 Fix: CVA Tailwind Autocomplete
  .vscode/settings.json
Labels: bug, client

#40 Add Avatar Component
  webapp/.prettierrc
  webapp/src/app/ui/avatar/avatar.component.html
  webapp/src/app/ui/avatar/avatar.component.ts
  webapp/src/app/ui/avatar/avatar.stories.ts
Labels: enhancement, client, size:M

#42 Update Avatar and improve fallback
  webapp/src/app/ui/avatar/avatar-config.ts
  webapp/src/app/ui/avatar/avatar-fallback.component.ts
  webapp/src/app/ui/avatar/avatar-image.component.ts
  webapp/src/app/ui/avatar/avatar.component.html
  webapp/src/app/ui/avatar/avatar.component.ts
  webapp/src/app/ui/avatar/avatar.stories.ts
Labels: client

#43 Remove App prefix for components
  webapp/src/app/example/counter/counter.component.ts
  webapp/src/app/example/hello/hello.component.ts
  webapp/src/app/ui/button/button.component.ts
  webapp/src/app/ui/button/button.stories.ts
  webapp/src/app/ui/input/input.component.ts
  webapp/src/app/ui/input/input.stories.ts
  webapp/src/app/ui/label/label.component.ts
  webapp/src/app/ui/label/label.stories.ts
Labels: client

#45 Add theme switcher to header
  webapp/.storybook/preview.ts
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/components/theme-switcher/theme-switcher.component.html
  webapp/src/app/components/theme-switcher/theme-switcher.component.ts
  webapp/src/app/components/theme-switcher/theme-switcher.service.ts
  webapp/src/app/components/theme-switcher/theme-switcher.stories.ts
  webapp/src/index.html
Labels: client

#50 Fix labeler workflow
  .github/workflows/pr-labeler.yml
Labels: bug

#46 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size:S

#52 Create about page and add footer
  webapp/.storybook/preview.ts
  webapp/src/app/@types/github.d.ts
  webapp/src/app/about/about.component.html
  webapp/src/app/about/about.component.ts
  webapp/src/app/about/about.stories.ts
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.routes.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
  webapp/src/app/ui/avatar/avatar-fallback.component.ts
  webapp/src/app/ui/avatar/avatar.stories.ts
Labels: client, size:L

#58 Add configuration of Application Server url
  webapp/Dockerfile
  webapp/angular.json
  webapp/package-lock.json
  webapp/src/app/app.config.ts
  webapp/src/environments/environment.ts
Labels: client, size:L

#47 Setup FastAPI Intelligence Service
  server/intelligence-service/README.md
  server/intelligence-service/poetry.lock
  server/intelligence-service/pyproject.toml
  server/intelligence-service/src/auth/router.py
  server/intelligence-service/src/config.py
  server/intelligence-service/src/main.py
  server/intelligence-service/tests/__init__.py
  server/intelligence-service/tests/test_main.py
Labels: size:XL, intelligence-service, feature

#16 Test preview deployment
  build_images.sh
  compose.yaml
  server/application-server/nixpacks.toml
Labels: application-server, size:M

#59 Integrate Spring Modulith in `application-server`
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/Application.java
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/HephaestusApplicationTests.java
  server/application-server/src/test/java/de/tum/in/www1/hephaestus/HephaestusModulithTests.java
Labels: enhancement, application-server, size:M, feature

#61 Add Webhook-Ingest service using NATS JetStream
  .github/labeler.yml
  .vscode/settings.json
  project.code-workspace
  server/webhook-ingest/Dockerfile
  server/webhook-ingest/README.md
  server/webhook-ingest/app/__init__.py
  server/webhook-ingest/app/config.py
  server/webhook-ingest/app/logger.py
  server/webhook-ingest/app/main.py
  server/webhook-ingest/app/nats_client.py
  server/webhook-ingest/compose.yaml
  server/webhook-ingest/nats-server.conf
  server/webhook-ingest/poetry.lock
  server/webhook-ingest/pyproject.toml
Labels: size:XXL, feature, webhook-ingest

#63 Fix build env for webapp preview deployments
  webapp/Dockerfile
Labels: bug, client, size:XS

#66 Add subject sanitization and retry to publish on error
  server/webhook-ingest/app/logger.py
  server/webhook-ingest/app/main.py
  server/webhook-ingest/app/nats_client.py
  server/webhook-ingest/compose.yaml
Labels: bug, size:M, webhook-ingest

#67 Update dependencies
  package-lock.json
  package.json
  server/application-server/pom.xml
  server/intelligence-service/poetry.lock
  server/webhook-ingest/poetry.lock
  webapp/package-lock.json
  webapp/package.json
Labels: client, application-server, size:XXL, intelligence-service, webhook-ingest
