Repository ls1intum/Hephaestus, pull requests merged in 2024-12, with the labels that each got.

#205 Add Sentry Configuration to `application-server`
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/SentryConfiguration.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
Labels: application-server, size:L, priority:high

#195 League Points Calculation + Task Scheduling
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/User.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardTaskScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaguePointsCalculationService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/LeaguePointsUpdateTask.java
  server/application-server/src/main/resources/db/changelog/1732966971482_changelog.xml
  server/application-server/src/main/resources/db/master.xml
Labels: enhancement, application-server, size:L, research

#169 Intelligence Service MVP Chat Interface
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/app.routes.ts
  webapp/src/app/chat/chat/chat.component.html
  webapp/src/app/chat/chat/chat.component.ts
  webapp/src/app/chat/first-session-card/first-session-card.component.html
  webapp/src/app/chat/first-session-card/first-session-card.component.ts
  webapp/src/app/chat/input/input.component.html
  webapp/src/app/chat/input/input.component.ts
  webapp/src/app/chat/input/input.stories.ts
  webapp/src/app/chat/messages/messages.component.html
  webapp/src/app/chat/messages/messages.component.ts
  webapp/src/app/chat/sessions-card/sessions-card.component.html
  webapp/src/app/chat/sessions-card/sessions-card.component.ts
  webapp/src/app/core/header/ai-mentor/ai-mentor.component.html
  webapp/src/app/core/header/ai-mentor/ai-mentor.component.ts
  webapp/src/app/core/header/ai-mentor/ai-mentor.stories.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
Labels: client, application-server, size:XL, intelligence-service, feature

#207 Fix: Ignore own Issue Comments for Score Calculation
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/ScoringService.java
Labels: bug, application-server, size:S

#209 Fix: Persist User Change on Navigation
  webapp/src/app/user/user-profile.component.ts
  webapp/src/app/user/user-profile.stories.ts
Labels: bug, client, size:S

#206 Add Sentry Configuration to `webapp`
  webapp/Dockerfile
  webapp/angular.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/core/security/security-store.service.ts
  webapp/src/app/core/sentry/sentry.error-handler.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
Labels: enhancement, client, size:L

#192 Build and Push Docker Image Workflow
  .github/workflows/build-and-push-docker.yml
  build_images.sh
  compose.yaml
  package-lock.json
  package.json
  server/application-server/Dockerfile
  server/application-server/nixpacks.toml
  server/application-server/src/main/resources/application-prod.yml
  webapp/Dockerfile
  webapp/angular.json
  webapp/generate_config.sh
  webapp/package-lock.json
  webapp/package.json
  webapp/public/environment.json
  webapp/src/app/analytics.service.ts
  webapp/src/app/app.config.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/core/security/keycloak.service.ts
  webapp/src/app/core/sentry/sentry.error-handler.ts
  webapp/src/app/environment.service.ts
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
  webapp/src/app/legal/imprint.component.ts
  webapp/src/app/legal/privacy.component.ts
  webapp/src/app/user/header/header.component.ts
  webapp/src/app/user/header/header.stories.ts
  webapp/src/app/user/issue-card/issue-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.stories.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/tsconfig.app.json
  webapp/tsconfig.json
Labels: client, application-server, size:XL

#216 Automatic Greeting Feature
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/message/MessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionService.java
  server/intelligence-service/app/mentor/prompt_loader.py
  server/intelligence-service/app/mentor/prompts/mentor_persona.txt
  server/intelligence-service/app/mentor/run.py
  server/intelligence-service/app/routers/mentor.py
  webapp/src/app/mentor/mentor.component.html
  webapp/src/app/mentor/mentor.component.ts
  webapp/src/app/mentor/messages/messages.component.html
  webapp/src/app/mentor/messages/messages.component.ts
  webapp/src/app/mentor/messages/messages.stories.ts
Labels: client, application-server, size:L, intelligence-service, feature

#213 Docs: Setup Guide Page
  docs/dev/setup_guide.rst
  docs/index.rst
  project.code-workspace
Labels: documentation, size:L, feature
