Repository ls1intum/Hephaestus, pull requests merged in 2024-10, with the labels that each got.

#104 Add Review and Reviewed PR Count to Leaderboard Activity
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardEntry.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  webapp/src/app/core/modules/openapi/model/leaderboard-entry.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/home/leaderboard/leaderboard.stories.ts
Labels: enhancement, client, application-server, size:M

#108 Fix: Initial Leaderboard filter params
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/home/home.component.ts
Labels: bug, client, size:S, priority:high

#110 Fix: Wait for Leaderboard params init
  webapp/src/app/home/leaderboard/filter/filter.component.ts
Labels: bug, client, size:XS, priority:high

#111 Upgrade Storybook to 8.3.4 and fix theme-toggle
  webapp/.storybook/preview.ts
  webapp/package-lock.json
  webapp/package.json
Labels: bug, client, size:XXL, priority:high

#114 Add user auth using Keycloak
  compose.yaml
  server/application-server/HELP.md
  server/application-server/compose.yaml
  server/application-server/keycloak-hephaestus-realm-example-config.json
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/SecurityConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/admin/AdminController.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
  webapp/Dockerfile
  webapp/package-lock.json
  webapp/package.json
  webapp/public/silent-check-sso.html
  webapp/src/app/about/about.stories.ts
  webapp/src/app/admin/admin.component.html
  webapp/src/app/admin/admin.component.ts
  webapp/src/app/admin/admin.stories.ts
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/app.routes.ts
  webapp/src/app/core/footer/footer.component.html
  webapp/src/app/core/footer/footer.component.ts
  webapp/src/app/core/footer/footer.stories.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/core/header/header.stories.ts
  webapp/src/app/core/header/request-feature/request-feature.component.html
  webapp/src/app/core/header/request-feature/request-feature.component.ts
  webapp/src/app/core/header/request-feature/request-feature.stories.ts
  webapp/src/app/core/issue-card/issue-card.stories.ts
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/admin.service.ts
  webapp/src/app/core/modules/openapi/api/admin.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/user-info-dto.ts
  webapp/src/app/core/security/admin.guard.ts
  webapp/src/app/core/security/keycloak.service.ts
  webapp/src/app/core/security/models.ts
  webapp/src/app/core/security/security-interceptor.ts
  webapp/src/app/core/security/security-store.service.ts
  webapp/src/app/core/theme/theme-switcher.stories.ts
  webapp/src/app/home/home.component.html
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/home.stories.ts
  webapp/src/app/home/leaderboard/filter/filter.stories.ts
  webapp/src/app/home/leaderboard/leaderboard.stories.ts
  webapp/src/app/ui/table/table.stories.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/src/libs/ui/ui-dialog-helm/src/lib/hlm-dialog.service.ts
  webapp/src/libs/ui/ui-tooltip-helm/src/lib/hlm-tooltip-trigger.directive.ts
  webapp/src/styles.css
Labels: client, application-server, size:XXL, feature

#118 Fix: `LazyInitializationException` in CRON-job execution
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncService.java
Labels: bug, application-server, size:XS, priority:critical

#120 Fix: Improve filter layout for mobile
  webapp/src/app/home/home.component.html
  webapp/src/app/home/leaderboard/filter/filter.component.html
  webapp/src/app/home/leaderboard/filter/repository/repository.component.ts
Labels: bug, client, size:S

#119 Improve user profile page
  webapp/src/app/app.routes.ts
  webapp/src/app/core/issue-card/issue-card.component.html
  webapp/src/app/core/profile-activity-card/profile-activity-card.component.html
  webapp/src/app/core/profile-activity-card/profile-activity-card.component.ts
  webapp/src/app/core/profile-activity-card/profile-activity-card.stories.ts
  webapp/src/app/home/profile/profile.component.html
  webapp/src/app/home/profile/profile.component.ts
  webapp/src/app/user/header/header.component.html
  webapp/src/app/user/header/header.component.ts
  webapp/src/app/user/header/header.stories.ts
  webapp/src/app/user/issue-card/issue-card.component.html
  webapp/src/app/user/issue-card/issue-card.component.scss
  webapp/src/app/user/issue-card/issue-card.component.ts
  webapp/src/app/user/issue-card/issue-card.stories.ts
  webapp/src/app/user/review-activity-card/review-activity-card.component.html
  webapp/src/app/user/review-activity-card/review-activity-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.stories.ts
  webapp/src/app/user/user-profile.component.html
  webapp/src/app/user/user-profile.component.ts
  webapp/src/app/user/user-profile.stories.ts
  webapp/src/libs/ui/ui-avatar-helm/src/lib/hlm-avatar.component.ts
  webapp/src/libs/ui/ui-card-helm/src/lib/hlm-card-content.directive.ts
  webapp/src/libs/ui/ui-card-helm/src/lib/hlm-card.directive.ts
  webapp/src/styles.css
Labels: client, application-server, size:XXL, feature

#115 Profile Pages with User Activity and PRs
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestLabel.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReview.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReviewConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReviewDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserProfileDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserService.java
  webapp/src/app/app.routes.ts
  webapp/src/app/core/issue-card/issue-card.component.html
  webapp/src/app/core/issue-card/issue-card.component.ts
  webapp/src/app/core/issue-card/issue-card.stories.ts
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/user.service.ts
  webapp/src/app/core/modules/openapi/api/user.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-dto.ts
  webapp/src/app/core/modules/openapi/model/pull-request-review-dto.ts
  webapp/src/app/core/modules/openapi/model/pull-request-review.ts
  webapp/src/app/core/modules/openapi/model/repository-dto.ts
  webapp/src/app/core/modules/openapi/model/user-profile-dto.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/user/header/header.component.html
  webapp/src/app/user/header/header.component.ts
  webapp/src/app/user/header/header.stories.ts
  webapp/src/app/user/issue-card/issue-card.component.html
  webapp/src/app/user/issue-card/issue-card.component.scss
  webapp/src/app/user/issue-card/issue-card.component.ts
  webapp/src/app/user/issue-card/issue-card.stories.ts
  webapp/src/app/user/review-activity-card/review-activity-card.component.html
  webapp/src/app/user/review-activity-card/review-activity-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.stories.ts
  webapp/src/app/user/user-profile.component.html
  webapp/src/app/user/user-profile.component.ts
  webapp/src/app/user/user-profile.stories.ts
  webapp/src/libs/ui/ui-avatar-helm/src/lib/hlm-avatar.component.ts
  webapp/src/libs/ui/ui-card-helm/src/lib/hlm-card-content.directive.ts
  webapp/src/libs/ui/ui-card-helm/src/lib/hlm-card.directive.ts
  webapp/src/styles.css
Labels: enhancement, client, application-server, size:XXL

#126 Add User Menu + Leaderboard highlight
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/issuecomment/IssueCommentRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequestreview/PullRequestReviewRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/repository/RepositoryRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserRepository.java
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/core/security/keycloak.service.ts
  webapp/src/app/core/security/models.ts
  webapp/src/app/core/security/security-store.service.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/user/user-profile.component.ts
Labels: enhancement, client, size:L
