Repository ls1intum/Hephaestus, pull requests merged in 2024-09, with the labels that each got.

#62 Add first GitHub entities and automatically fetch them for the leaderboard
  .gitignore
  server/application-server/HELP.md
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/Application.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/ClassImportIntegratorIntegratorProvider.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/SecurityConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/base/BaseGitServiceEntity.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/base/BaseGitServiceEntityConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/IssueComment.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/IssueCommentConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/IssueCommentDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/IssueCommentRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/IssueState.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/Repository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryVisibility.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/User.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncService.java
  server/application-server/src/main/resources/application.yml
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/api.ts
  webapp/src/app/core/modules/openapi/api/pull-request.service.ts
  webapp/src/app/core/modules/openapi/api/pull-request.serviceInterface.ts
  webapp/src/app/core/modules/openapi/api/user.service.ts
  webapp/src/app/core/modules/openapi/api/user.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/issue-comment-dto.ts
  webapp/src/app/core/modules/openapi/model/issue-comment.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-dto.ts
  webapp/src/app/core/modules/openapi/model/pull-request.ts
  webapp/src/app/core/modules/openapi/model/repository-dto.ts
  webapp/src/app/core/modules/openapi/model/repository.ts
  webapp/src/app/core/modules/openapi/model/user-dto.ts
  webapp/src/app/core/modules/openapi/model/user.ts
Labels: enhancement, client, application-server, size:XXL, feature

#73 Workflow: Exclude OpenAPI folder from Webapp QA workflow
  .github/workflows/webapp-qa.yml
Labels: bug, enhancement, size:XS

#74 Add Github AuthToken to application-prod.yml
  server/application-server/src/main/resources/application-prod.yml
Labels: bug, application-server, size:XS

#75 Add workflow to generate API specs and clients with a manual trigger
  .github/workflows/generate-api-client.yml
  package.json
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloService.java
  webapp/src/app/core/modules/openapi/api/hello.service.ts
  webapp/src/app/core/modules/openapi/api/hello.serviceInterface.ts
Labels: client, application-server, size:M

#83 Replace `ApplicationRunner` with `EventListener` to fix startup time
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/base/Comment.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncScheduler.java
Labels: bug, application-server, size:S

#79 Add table component
  webapp/src/app/ui/table/table-body.directive.ts
  webapp/src/app/ui/table/table-caption.directive.ts
  webapp/src/app/ui/table/table-cell.directive.ts
  webapp/src/app/ui/table/table-footer.directive.ts
  webapp/src/app/ui/table/table-head.directive.ts
  webapp/src/app/ui/table/table-header.directive.ts
  webapp/src/app/ui/table/table-row.directive.ts
  webapp/src/app/ui/table/table.component.ts
  webapp/src/app/ui/table/table.stories.ts
Labels: client, size:L, feature

#85 Add feature requests link
  webapp/src/app/app.component.html
Labels: client, size:XS, feature

#86 Add angular query devtools for development
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/example/hello/hello.component.html
  webapp/src/app/example/hello/hello.component.ts
Labels: client, size:S, feature

#87 Update favicon
  webapp/public/android-chrome-192x192.png
  webapp/public/android-chrome-512x512.png
  webapp/public/apple-touch-icon.png
  webapp/public/browserconfig.xml
  webapp/public/favicon-16x16-dark.png
  webapp/public/favicon-16x16-light.png
  webapp/public/favicon-32x32-dark.png
  webapp/public/favicon-32x32-light.png
  webapp/public/favicon.ico
  webapp/public/mstile-144x144.png
  webapp/public/mstile-150x150.png
  webapp/public/mstile-310x150.png
  webapp/public/mstile-310x310.png
  webapp/public/mstile-70x70.png
  webapp/public/safari-pinned-tab.svg
  webapp/public/site.webmanifest
  webapp/src/index.html
Labels: client, size:M

#78 Leaderboard component and homepage
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/User.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserType.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardEntry.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  webapp/.vscode/settings.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/components/leaderboard/leaderboard.component.html
  webapp/src/app/components/leaderboard/leaderboard.component.ts
  webapp/src/app/components/leaderboard/leaderboard.stories.ts
  webapp/src/app/core/modules/openapi/model/leaderboard-entry.ts
  webapp/src/app/core/modules/openapi/model/pull-request.ts
  webapp/src/app/core/modules/openapi/model/user.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
  webapp/src/app/ui/icons/PullRequestApprovedIcon.component.ts
  webapp/src/app/ui/icons/PullRequestChangesRequestedIcon.component.ts
  webapp/src/app/ui/icons/PullRequestCommentIcon.component.ts
  webapp/src/app/ui/table/table.stories.ts
Labels: enhancement, client, application-server, needs work, size:XL, feature

#84 Remove example code
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/Hello.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/hello/HelloService.java
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/api.ts
  webapp/src/app/core/modules/openapi/api/hello.service.ts
  webapp/src/app/core/modules/openapi/api/hello.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/hello.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/example/counter/counter.component.html
  webapp/src/app/example/counter/counter.component.ts
  webapp/src/app/example/counter/counter.stories.ts
  webapp/src/app/example/counter/counter.ts
  webapp/src/app/example/hello/hello.component.html
  webapp/src/app/example/hello/hello.component.ts
Labels: client, application-server, size:XL

#89 Add Github colors to Tailwind
  webapp/.storybook/preview.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/components/theme-switcher/theme-switcher.service.ts
  webapp/src/index.html
  webapp/src/styles.css
  webapp/tailwind.config.ts
Labels: client, size:L, feature

#90 Improve icons and add GitHub icons
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/components/leaderboard/leaderboard.component.html
  webapp/src/app/components/leaderboard/leaderboard.component.ts
  webapp/src/app/components/theme-switcher/theme-switcher.component.html
  webapp/src/app/components/theme-switcher/theme-switcher.component.ts
  webapp/src/app/components/theme-switcher/theme-switcher.stories.ts
  webapp/src/app/ui/icons/PullRequestApprovedIcon.component.ts
  webapp/src/app/ui/icons/PullRequestChangesRequestedIcon.component.ts
  webapp/src/app/ui/icons/PullRequestCommentIcon.component.ts
Labels: client, size:L, feature

#91 Restructure project and general improments
  webapp/src/app/app.component.ts
  webapp/src/app/app.routes.ts
  webapp/src/app/components/leaderboard/leaderboard.component.html
  webapp/src/app/components/leaderboard/leaderboard.component.ts
  webapp/src/app/components/leaderboard/leaderboard.stories.ts
  webapp/src/app/core/theme/theme-switcher.component.html
  webapp/src/app/core/theme/theme-switcher.component.ts
  webapp/src/app/core/theme/theme-switcher.service.ts
  webapp/src/app/core/theme/theme-switcher.stories.ts
  webapp/src/app/home/home.component.html
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/home.stories.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/home/leaderboard/leaderboard.stories.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
Labels: client, size:L, feature

#94 Caching and UPDATED-sorting for the Github Data Sync Algorithm
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReviewDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardEntry.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncService.java
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/model/leaderboard-entry.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-review-dto.ts
  webapp/src/app/core/modules/openapi/model/pull-request.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.stories.ts
Labels: bug, enhancement, client, application-server, size:L, priority:critical

#97 Fix: Score calculation and avoid counting 'dismissed'-reviews as comments
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
Labels: bug, application-server, size:S, priority:high

#98 Fix: Avatar alt string template
  webapp/src/app/home/leaderboard/leaderboard.component.html
Labels: bug, client, size:XS

#100 Leaderboard: Custom Sliding Time Window
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  webapp/src/app/core/modules/openapi/api/leaderboard.service.ts
  webapp/src/app/core/modules/openapi/api/leaderboard.serviceInterface.ts
  webapp/src/app/home/home.component.ts
Labels: enhancement, client, application-server, size:L

#102 Autowire Converters in WebMVC
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/WebConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncService.java
Labels: enhancement, application-server, size:M

#92 Add pull requests component
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestLabel.java
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/core/IssueCard/issue-card.component.html
  webapp/src/app/core/IssueCard/issue-card.component.ts
  webapp/src/app/core/IssueCard/issue-card.stories.ts
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-label.ts
  webapp/src/app/core/modules/openapi/model/pull-request.ts
Labels: client, application-server, size:L

#103 Efficient Repository Updates instead of Refetching
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/base/BaseGitServiceEntityConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/base/Comment.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/IssueCommentConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/comment/review/PullRequestReviewCommentConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReview.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/pullrequest/review/PullRequestReviewConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/Repository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/repository/RepositoryConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/codereview/user/UserConverter.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/scheduler/GitHubDataSyncService.java
Labels: bug, enhancement, application-server, size:L
