Repository ls1intum/Hephaestus, pull requests merged in 2025-04, with the labels that each got.

#293 Update Artemis URL
  webapp/src/app/user/header/header.component.ts
Labels: client, size:XS, lgtm

#295 hotfix: improve Github to Slack user mapping
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/SlackWeeklyLeaderboardTask.java
Labels: bug, application-server, size:S, lgtm, ready to review

#296 Add a more mathematical description for leagues and leaderboard
  webapp/src/app/home/leaderboard/legend/legend.component.html
  webapp/src/app/ui/league/info-modal/info-modal.component.html
Labels: client, size:M

#284 Create teams overview page displaying sub teams and their members
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/team/Team.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/team/TeamController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/team/TeamInfoDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/team/TeamService.java
  server/application-server/src/main/resources/db/changelog/1741971047951_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/modules/openapi/api/team.service.ts
  webapp/src/app/core/modules/openapi/api/team.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/team-info.ts
  webapp/src/app/subteams/subteams.component.html
  webapp/src/app/subteams/subteams.component.ts
  webapp/src/app/workspace/teams/table/teams-table.component.html
  webapp/src/app/workspace/teams/table/teams-table.component.ts
  webapp/src/app/workspace/users/table/users-table.component.ts
Labels: enhancement, client, application-server, size:L, lgtm, ready to merge

#258 248 notify user by email
  docker/compose.app.yaml
  docker/compose.core.yaml
  server/application-server/keycloak-hephaestus-realm-example-config.json
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/team/TeamInfoDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/User.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserSettingsDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/notification/MailBuilder.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/notification/MailConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/notification/MailService.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/changelog/1741704706273_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  server/application-server/src/main/resources/mail-templates/bad-practices-detected.html
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/user.service.ts
  webapp/src/app/core/modules/openapi/api/user.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/user-settings.ts
  webapp/src/app/settings/settings.component.html
  webapp/src/app/settings/settings.component.ts
Labels: enhancement, client, application-server, size:XL, lgtm, ready to merge

#285 Docs: System Design
  docs/dev/system_design/all_use_cases.svg
  docs/dev/system_design/gamification_analysis_object_model.svg
  docs/dev/system_design/hephaestus.mdj
  docs/dev/system_design/index.md
  docs/dev/system_design/login_authorization_flow.svg
  docs/dev/system_design/new_review_activity.svg
  docs/dev/system_design/top_level_architecture.svg
  project.code-workspace
Labels: documentation, size:XXL, feature, lgtm

#294 Docs: Intelligent Service Setup
  docs/dev/getting_started/fastapi.png
  docs/dev/getting_started/index.md
  docs/dev/setup_guide.md
Labels: documentation, size:M, lgtm

#301 fix email sending on automatic detection
  docker/compose.app.yaml
Labels: application-server, size:XS, ready to merge

#290 289 improve detection for draft regular and ready to merge pull requests
  docker/compose.app.yaml
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/BadPracticeFeedbackRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/BadPracticeFeedback.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/BadPracticeFeedbackDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPracticeDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPracticeState.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestWithBadPracticesDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPracticeStatus.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/changelog/1742635249489_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  server/intelligence-service/.env.example
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/app/settings.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/bad-practice-feedback.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-bad-practice.ts
  webapp/src/app/core/modules/openapi/model/pull-request-with-bad-practices.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.html
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.ts
  webapp/src/app/user/bad-practice-card/bad-practice-card.stories.ts
  webapp/src/app/user/bad-practice-legend-card/bad-practice-legend-card.component.html
  webapp/src/app/user/bad-practice-legend-card/bad-practice-legend-card.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.stories.ts
  webapp/src/app/utils.ts
Labels: enhancement, client, application-server, size:XXL, intelligence-service, lgtm, ready to merge

#297 Docs: AI Mentor System Design
  docs/dev/coding_design_guidelines/index.md
  docs/dev/coding_design_guidelines/intelligence_service.md
  docs/dev/system_design/gamification_use_cases.svg
  docs/dev/system_design/hephaestus.mdj
  docs/dev/system_design/index.md
  docs/dev/system_design/langgraph.png
  docs/dev/system_design/mentor_use_cases.svg
Labels: documentation, application-server, size:XXL, lgtm

#300 Update Roadmap
  README.md
Labels: documentation, size:XS, ready to merge

#305 Add user story issue template
  .github/ISSUE_TEMPLATE/user_story.md
Labels: documentation, size:M

#308 Create task issue template
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size:M

#310 Add leaderboard notification team for filtering
  docker/compose.app.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/SlackWeeklyLeaderboardTask.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
Labels: enhancement, application-server, size:S, feature

#309 update mails and automatic detection #303
  docker/compose.app.yaml
  server/application-server/keycloak-hephaestus-realm-example-config.json
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/BadPracticeFeedback.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPracticeDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPracticeState.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestMessageHandler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/notification/MailService.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/changelog/1745587643870_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  server/application-server/src/main/resources/mail-templates/bad-practices-detected.html
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
Labels: enhancement, client, application-server, size:L, lgtm, ready to review
