Repository ls1intum/Hephaestus, pull requests merged in 2025-01, with the labels that each got.

#210 League UI for Leaderboard and Profile Pages
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserInfoDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/workspace/WorkspaceController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/workspace/WorkspaceService.java
  webapp/src/app/core/modules/openapi/api/workspace.service.ts
  webapp/src/app/core/modules/openapi/api/workspace.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/user-info.ts
  webapp/src/app/home/home.component.html
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/leaderboard.component.ts
  webapp/src/app/home/leaderboard/league/league.component.html
  webapp/src/app/home/leaderboard/league/league.component.ts
  webapp/src/app/home/leaderboard/league/league.stories.ts
  webapp/src/app/home/leaderboard/legend/legend.component.html
  webapp/src/app/ui/league/elo-card/elo-card.component.html
  webapp/src/app/ui/league/elo-card/elo-card.component.ts
  webapp/src/app/ui/league/elo-card/elo-card.stories.ts
  webapp/src/app/ui/league/icon/league-icon.component.ts
  webapp/src/app/ui/league/info-modal/info-modal.component.html
  webapp/src/app/ui/league/info-modal/info-modal.component.ts
  webapp/src/app/ui/league/info-modal/info-modal.stories.ts
  webapp/src/app/user/header/header.component.html
  webapp/src/app/user/header/header.component.ts
  webapp/src/app/user/user-profile.component.html
  webapp/src/app/utils.ts
  webapp/src/app/workspace/workspace.component.html
  webapp/src/app/workspace/workspace.component.ts
  webapp/src/libs/ui/ui-dialog-helm/src/lib/hlm-dialog.component.ts
  webapp/src/styles.css
  webapp/tailwind.config.ts
Labels: enhancement, client, application-server, size:XL

#228 Fix: Lock Poetry version to 1.8.5
  .github/workflows/generate-intelligence-service-client.yml
  .github/workflows/intelligence-service-qa.yml
  server/intelligence-service/Dockerfile
  server/webhook-ingest/Dockerfile
Labels: bug, size:S, priority:critical, intelligence-service, webhook-ingest

#233 Add build and push workflow and enable runtime environment for webapp
  .github/workflows/build-and-push-docker.yml
  build_images.sh
  compose.yaml
  server/application-server/Dockerfile
  server/application-server/nixpacks.toml
  server/intelligence-service/pyproject.toml
  server/webhook-ingest/pyproject.toml
  webapp/Dockerfile
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/timeframe/timeframe.component.ts
  webapp/src/app/user/header/header.component.ts
  webapp/src/app/user/header/header.stories.ts
  webapp/src/app/user/issue-card/issue-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.component.ts
  webapp/src/app/user/review-activity-card/review-activity-card.stories.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/substitute_env_variables.sh
Labels: client, application-server, size:L, intelligence-service, webhook-ingest

#234 Add new prod deploy workflow
  .github/workflows/deploy/deploy-prod-app.yml
  compose.yaml
  docker/compose.prod.app.yaml
  docker/compose.prod.core.yaml
  server/application-server/src/main/resources/application-prod.yml
Labels: application-server, size:L

#231 Initial GitHub Integration for the AI Mentor
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/MentorStartRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/message/MessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionService.java
  server/intelligence-service/app/mentor/conditions.py
  server/intelligence-service/app/mentor/nodes.py
  server/intelligence-service/app/mentor/prompts/mentor/dev_progress.txt
  server/intelligence-service/app/mentor/prompts/mentor/impediments.txt
  server/intelligence-service/app/mentor/prompts/mentor/status.txt
  server/intelligence-service/app/mentor/prompts/mentor/summary.txt
  server/intelligence-service/app/mentor/run.py
  server/intelligence-service/app/mentor/state.py
  server/intelligence-service/app/routers/mentor.py
  server/intelligence-service/app/settings.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/mentor/mentor.component.ts
  webapp/src/app/mentor/messages/message-parser.ts
  webapp/src/app/mentor/messages/messages.component.html
  webapp/src/app/mentor/messages/messages.component.ts
  webapp/src/app/mentor/messages/messages.stories.ts
  webapp/src/app/mentor/prs-overview/prs-overview.component.html
  webapp/src/app/mentor/prs-overview/prs-overview.component.ts
  webapp/src/app/mentor/prs-overview/prs-overview.stories.ts
Labels: client, application-server, size:XL, intelligence-service, feature
