Repository ls1intum/Hephaestus, pull requests merged in 2025-03, with the labels that each got.

#256 AI Mentor: Error Handling by Response Generation
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/MentorApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/MentorResponse.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/message/MessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionService.java
  server/intelligence-service/app/routers/mentor.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/core/header/request-feature/request-feature.component.ts
  webapp/src/app/core/modules/openapi/api/session.service.ts
  webapp/src/app/core/modules/openapi/api/session.serviceInterface.ts
  webapp/src/app/mentor/chat-input/chat-input.component.html
  webapp/src/app/mentor/mentor.component.html
  webapp/src/app/mentor/mentor.component.ts
  webapp/src/app/mentor/sessions-card/sessions-card.component.html
  webapp/src/app/mentor/sessions-card/sessions-card.component.ts
  webapp/src/app/mentor/sessions-card/sessions-card.stories.ts
  webapp/src/app/mentor/start-session-card/start-session-card.component.html
  webapp/src/app/mentor/start-session-card/start-session-card.component.ts
  webapp/src/app/mentor/start-session-card/start-session-card.stories.ts
Labels: enhancement, client, application-server, size:XL, intelligence-service, feature, lgtm

#257 Leaderboard Sorting Options: Score & League Points
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardSortType.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/LeaguePointsUpdateTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/SlackWeeklyLeaderboardTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/workspace/WorkspaceService.java
  webapp/src/app/core/modules/openapi/api/leaderboard.service.ts
  webapp/src/app/core/modules/openapi/api/leaderboard.serviceInterface.ts
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/filter/filter.component.html
  webapp/src/app/home/leaderboard/filter/filter.component.ts
  webapp/src/app/home/leaderboard/filter/sort/sort.component.html
  webapp/src/app/home/leaderboard/filter/sort/sort.component.ts
  webapp/src/app/home/leaderboard/filter/sort/sort.stories.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
Labels: enhancement, client, application-server, size:L, intelligence-service, lgtm

#245 Follow up PR with new detect bad practices for individual PR, better LLM prompt, responsive spinners, and ready to merge trigger for detection
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/DetectorApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
Labels: client, application-server, size:L, intelligence-service

#232 Create detection LLM endpoint
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/IntelligenceServiceConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/DetectorApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/application-server/src/main/resources/db/changelog/1738063112622_changelog.xml
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/main.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/app/settings.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
Labels: client, application-server, size:XXL, intelligence-service, webhook-ingest

#224 Create activity endpoint for bad practice detection
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/PullRequestBadPracticeRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/ActivityDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPracticeDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestWithBadPracticesDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/IntelligenceServiceConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/PullRequestRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestSyncService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/api/DetectorApi.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/application-server/src/main/resources/db/changelog/1740998214558_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/main.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/core/modules/openapi/api/api.ts
  webapp/src/app/core/modules/openapi/model/activity.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/core/modules/openapi/model/pull-request-bad-practice.ts
  webapp/src/app/core/modules/openapi/model/pull-request-with-bad-practices.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.html
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.ts
  webapp/src/app/user/bad-practice-card/bad-practice-card.stories.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.stories.ts
  webapp/src/app/utils.ts
Labels: client, application-server, size:XXL, intelligence-service, lgtm

#272 Docs: Design Coding Guidelines
  docs/dev/coding_design_guidelines/client.md
  docs/dev/coding_design_guidelines/database.md
  docs/dev/coding_design_guidelines/index.md
  docs/dev/coding_design_guidelines/performance.md
  docs/dev/coding_design_guidelines/server.md
  docs/dev/guidelines.rst
  docs/index.md
Labels: documentation, size:L, lgtm

#273 Docs: Use Localhost for Sphinx
  docs/Makefile
  docs/README.md
Labels: bug, documentation, needs test, size:S, lgtm

#275 Fix: Docs: Display Subchapters in Menu
  docs/conf.py
  docs/dev/coding_design_guidelines/client.md
  docs/dev/coding_design_guidelines/database.md
  docs/dev/coding_design_guidelines/index.md
  docs/dev/coding_design_guidelines/performance.md
  docs/dev/coding_design_guidelines/server.md
  docs/dev/guidelines.rst
Labels: bug, documentation, size:M, lgtm

#271 Improve LLM handling
  .github/workflows/generate-intelligence-service-client.yml
  .github/workflows/intelligence-service-qa.yml
  docs/dev/setup_guide.md
  package.json
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/BadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/intelligence-service/.env.example
  server/intelligence-service/.flake8
  server/intelligence-service/Dockerfile
  server/intelligence-service/README.md
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/export_openapi_specs.py
  server/intelligence-service/app/logger.py
  server/intelligence-service/app/main.py
  server/intelligence-service/app/mentor/conditions.py
  server/intelligence-service/app/mentor/nodes.py
  server/intelligence-service/app/mentor/run.py
  server/intelligence-service/app/model.py
  server/intelligence-service/app/models/__init__.py
  server/intelligence-service/app/models/azure_openai.py
  server/intelligence-service/app/models/fake.py
  server/intelligence-service/app/models/model_provider.py
  server/intelligence-service/app/models/ollama.py
  server/intelligence-service/app/models/openai.py
  server/intelligence-service/app/routers/__index__.py
  server/intelligence-service/app/routers/__init__.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/app/routers/health.py
  server/intelligence-service/app/routers/mentor.py
  server/intelligence-service/app/settings.py
  server/intelligence-service/poetry.lock
  server/intelligence-service/pyproject.toml
  server/webhook-ingest/README.md
  server/webhook-ingest/poetry.lock
  server/webhook-ingest/pyproject.toml
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/activity.ts
  webapp/src/app/core/modules/openapi/model/pull-request-bad-practice.ts
  webapp/src/app/core/modules/openapi/model/pull-request-with-bad-practices.ts
Labels: documentation, enhancement, client, application-server, size:XXL, intelligence-service, feature, webhook-ingest, lgtm

#235 Integration of Goal Setting & Reflection to AI Mentor
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/MentorStartRequest.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/message/MessageRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/message/MessageService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/mentor/session/SessionService.java
  server/intelligence-service/app/mentor/conditions.py
  server/intelligence-service/app/mentor/nodes/memory_updates.py
  server/intelligence-service/app/mentor/nodes/mentor_interaction.py
  server/intelligence-service/app/mentor/nodes/state_updates.py
  server/intelligence-service/app/mentor/prompts/analyzer/adjust_goals.txt
  server/intelligence-service/app/mentor/prompts/analyzer/check_goal_reflection.txt
  server/intelligence-service/app/mentor/prompts/analyzer/check_goals.txt
  server/intelligence-service/app/mentor/prompts/analyzer/check_state.txt
  server/intelligence-service/app/mentor/prompts/analyzer/check_updates.txt
  server/intelligence-service/app/mentor/prompts/analyzer/set_goals.txt
  server/intelligence-service/app/mentor/prompts/analyzer/update_memory.txt
  server/intelligence-service/app/mentor/prompts/mentor/dev_progress.txt
  server/intelligence-service/app/mentor/prompts/mentor/finish.txt
  server/intelligence-service/app/mentor/prompts/mentor/goal_reflection.txt
  server/intelligence-service/app/mentor/prompts/mentor/goal_setting.txt
  server/intelligence-service/app/mentor/prompts/mentor/greeting.txt
  server/intelligence-service/app/mentor/prompts/mentor/impediments.txt
  server/intelligence-service/app/mentor/prompts/mentor/persona.txt
  server/intelligence-service/app/mentor/prompts/mentor/promises.txt
  server/intelligence-service/app/mentor/prompts/mentor/status.txt
  server/intelligence-service/app/mentor/prompts/mentor/summary.txt
  server/intelligence-service/app/mentor/run.py
  server/intelligence-service/app/mentor/state.py
  server/intelligence-service/app/routers/mentor.py
  server/intelligence-service/openapi.yaml
  server/intelligence-service/poetry.lock
  webapp/src/app/core/header/ai-mentor/ai-mentor.component.html
  webapp/src/app/mentor/chat-input/chat-input.component.html
  webapp/src/app/mentor/chat-summary/chat-summary.component.html
  webapp/src/app/mentor/chat-summary/chat-summary.component.ts
  webapp/src/app/mentor/messages/messages.component.html
  webapp/src/app/mentor/messages/messages.component.ts
  webapp/src/app/mentor/messages/messages.stories.ts
  webapp/src/app/mentor/prs-overview/prs-overview.component.html
  webapp/src/app/mentor/prs-overview/prs-overview.component.ts
Labels: enhancement, client, application-server, size:XXL, intelligence-service, feature

#281 Fix: League Overview Responsive Layout
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.component.html
  webapp/src/app/ui/league/elo-card/elo-card.component.html
  webapp/src/environments/environment.ts
Labels: bug, client, size:M, lgtm

#276 Docs: Database Migrations
  docs/dev/database_migration/index.md
  docs/index.md
Labels: documentation, size:L, lgtm
