Repository ls1intum/Hephaestus, pull requests merged in 2025-05, with the labels that each got.

#326 Final fixed for detection release
  docker/compose.app.yaml
  server/application-server/openapi.yaml
  server/application-server/pom.xml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/ActivityService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/PullRequestBadPracticeRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorTask.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/DetectionResult.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestBadPractice.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestLifecycleState.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/pullrequest/github/GitHubPullRequestMessageHandler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorResponse.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/notification/MailService.java
  server/application-server/src/main/resources/application-prod.yml
  server/application-server/src/main/resources/application.yml
  server/application-server/src/main/resources/db/changelog/1745936646504_changelog.xml
  server/application-server/src/main/resources/db/master.xml
  server/application-server/src/main/resources/mail-templates/bad-practices-detected.html
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/modules/openapi/api/activity.service.ts
  webapp/src/app/core/modules/openapi/api/activity.serviceInterface.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.html
  webapp/src/app/user/bad-practice-card/bad-practice-card.component.ts
  webapp/src/app/user/bad-practice-legend-card/bad-practice-legend-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
  webapp/src/app/utils.ts
Labels: bug, enhancement, client, application-server, size:XL, intelligence-service, research, lgtm, ready to review

#329 Remove admin guard in header
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/intelligenceservice/model/DetectorRequest.java
  server/application-server/src/main/resources/mail-templates/bad-practices-detected.html
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/routers/detector.py
  server/intelligence-service/openapi.yaml
  webapp/src/app/app.routes.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
Labels: enhancement, client, application-server, size:L, intelligence-service, lgtm

#328 Docs: User Guide for AI Mentor
  docs/conf.py
  docs/index.md
  docs/user/ai_mentor.md
  docs/user/getting_started.md
  docs/user/getting_started.png
  docs/user/history.png
  docs/user/mentor_button.png
  docs/user/new_session.png
  docs/user/pr_overview.png
  docs/user/start_session.png
  docs/user/summary.png
Labels: documentation, size:M, lgtm

#333 Refactor "ready to review" to "ready for review" across codebase, add truncate for pr title and filter resolved bad practices and add title on repository check
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/BadPracticeDetectorScheduler.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/badpracticedetector/PullRequestBadPracticeDetector.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestLifecycleState.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/activity/model/PullRequestWithBadPracticesDTO.java
  server/intelligence-service/app/detector/bad_practice_detector.py
  server/intelligence-service/app/detector/prompts/pullrequest_badpractice_detector.py
  webapp/src/app/core/modules/openapi/model/pull-request-with-bad-practices.ts
  webapp/src/app/home/activity/activity-dashboard.component.html
  webapp/src/app/home/activity/activity-dashboard.component.ts
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.html
  webapp/src/app/user/pull-request-bad-practice-card/pull-request-bad-practice-card.component.ts
  webapp/src/app/user/user-profile.component.html
  webapp/src/app/user/user-profile.component.ts
  webapp/src/app/utils.ts
Labels: bug, enhancement, client, application-server, size:L, intelligence-service, lgtm, ready for review

#339 Add prompt tracking
  server/intelligence-service/app/detector/bad_practice_detector.py
Labels: enhancement, size:S, intelligence-service, lgtm

#341 Check Liquibase migration with github action
  .github/workflows/liquibase-migration-check.yml
  server/application-server/pom.xml
Labels: enhancement, application-server, size:M

#334 Docs: User Guides for Leaderboard & Workspaces
  docs/index.md
  docs/user/leaderboard/index.md
  docs/user/leaderboard/leaderboard-filter.png
  docs/user/leaderboard/leaderboard-overview.png
  docs/user/leaderboard/leaderboard-pr-overview.png
  docs/user/workspace/index.md
Labels: documentation, size:L
