Repository ls1intum/Hephaestus, pull requests merged in 2025-08, with the labels that each got.

#370 docs: create docs for best practices
  docs/dev/mail_notifications/index.md
  docs/index.md
  docs/user/best_practices/bad-practices.png
  docs/user/best_practices/best-practices.png
  docs/user/best_practices/index.md
  docs/user/best_practices/resolve.png
  docs/user/best_practices/settings.png
Labels: documentation, size:M, ready for review

#380 chore: improve hephaestus messaging
  .github/workflows/ci-quality-gates.yml
  .github/workflows/ci-security-scan.yml
  .github/workflows/ci-tests.yml
  .node-version
  README.md
  docs/index.md
  package-lock.json
  scripts/install-platform-binaries.mjs
  webapp/src/components/info/about/AboutHeroSection.tsx
  webapp/src/components/info/about/AboutMissionSection.tsx
  webapp/src/components/info/landing/LandingFeaturesSection.tsx
  webapp/src/components/info/landing/LandingHeroSection.tsx
  webapp/src/components/info/landing/LandingWhyChooseSection.tsx
Labels: documentation, client, size:L

#385 chore: fix release version bump
  .github/workflows/auto-approve-own-prs.yml
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci-tests.yml
  .github/workflows/cicd-docs.yml
  .github/workflows/cicd.yml
  package-lock.json
  update_version.sh
Labels: bug, size:L
