Repository ls1intum/Hephaestus, pull requests merged in 2025-02, with the labels that each got.

#242 Fix: Colspan of Leaderboard Empty Data-State
  webapp/src/app/home/leaderboard/leaderboard.component.html
Labels: bug, client, size:XS

#244 `Documentation`: Convert docs to markdown and improve readme
  .github/workflows/build-and-push-docker.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  README.md
  docs/Makefile
  docs/admin/production_setup.md
  docs/conf.py
  docs/dev/getting_started/getting_started.rst
  docs/dev/getting_started/index.md
  docs/dev/setup_guide.md
  docs/dev/setup_guide.rst
  docs/dev/system_design/index.md
  docs/dev/system_design/top_level_architecture.svg
  docs/index.md
  docs/index.rst
  docs/requirements.txt
  docs/system/gamification/aom.puml
  docs/system/gamification/index.rst
  docs/system/potential_use_cases/analysis_use_cases.puml
  docs/system/potential_use_cases/collaboration_use_cases.puml
  docs/system/potential_use_cases/design_use_cases.puml
  docs/system/potential_use_cases/documentation_use_cases.puml
  docs/system/potential_use_cases/implementation_use_cases.puml
  docs/system/potential_use_cases/maintenance_use_cases.puml
  docs/system/potential_use_cases/planning_use_cases.puml
  docs/system/potential_use_cases/security_use_cases.puml
  docs/system/potential_use_cases/testing_and_integration_use_cases.puml
  docs/system/potential_use_cases/training_use_cases.puml
  docs/user/getting_started.md
  project.code-workspace
Labels: documentation, size:XXL

#246 Add landing page
  webapp/public/images/agile_hephaestus.png
  webapp/public/images/alice_developer.jpg
  webapp/public/images/bob_builder.jpg
  webapp/public/images/charlie_coder.jpg
  webapp/src/app/app.routes.ts
  webapp/src/app/core/header/header.component.html
  webapp/src/app/core/header/header.component.ts
  webapp/src/app/landing/landing.component.html
  webapp/src/app/landing/landing.component.ts
  webapp/src/app/root-container.component.ts
  webapp/src/index.html
  webapp/src/libs/ui/ui-button-helm/src/lib/hlm-button.directive.ts
Labels: client, size:L, feature

#247 Add Posthog and remove Umami
  docker/compose.app.yaml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/analytics.service.ts
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/core/security/security-store.service.ts
  webapp/src/environments/environment.prod.ts
  webapp/src/environments/environment.ts
  webapp/src/main.ts
Labels: client, size:L, feature

#249 Fix: Schedule Index Test
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/tasks/LeaguePointsUpdateTask.java
Labels: bug, application-server, size:XS

#250 Add new league icons
  webapp/src/app/ui/league/icon/league-bronze-icon.component.ts
  webapp/src/app/ui/league/icon/league-diamond-icon.component.ts
  webapp/src/app/ui/league/icon/league-gold-icon.component.ts
  webapp/src/app/ui/league/icon/league-icon.component.ts
  webapp/src/app/ui/league/icon/league-icon.stories.ts
  webapp/src/app/ui/league/icon/league-master-icon.component.ts
  webapp/src/app/ui/league/icon/league-none-icon.component.ts
  webapp/src/app/ui/league/icon/league-silver-icon.component.ts
  webapp/src/styles.css
Labels: client, size:L, feature

#252 Fix: Change Milestone `description` Type
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/milestone/Milestone.java
  server/application-server/src/main/resources/db/changelog/1739871861123_changelog.xml
  server/application-server/src/main/resources/db/master.xml
Labels: bug, application-server, size:S, priority:critical

#238 Update to poetry 2.0
  .github/workflows/generate-intelligence-service-client.yml
  .github/workflows/intelligence-service-qa.yml
  .vscode/settings.json
  server/intelligence-service/README.md
  server/intelligence-service/poetry.lock
  server/intelligence-service/pyproject.toml
Labels: size:L, intelligence-service, lgtm

#251 Show All Users in the Total Leaderboard
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/gitprovider/user/UserRepository.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
Labels: enhancement, application-server, size:M, lgtm

#255 Fix: League Info Infinity Points
  webapp/src/app/ui/league/info-modal/info-modal.component.html
Labels: bug, client, size:XS, lgtm

#218 Add own rank to leaderboard overview
  webapp/src/app/home/home.component.html
  webapp/src/app/home/home.component.ts
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.component.html
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.component.ts
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.stories.ts
  webapp/src/app/home/leaderboard/leaderboard.component.html
  webapp/src/app/home/leaderboard/league/league.component.html
  webapp/src/app/home/leaderboard/league/league.component.ts
  webapp/src/app/home/leaderboard/league/league.stories.ts
  webapp/src/app/ui/league/elo-card/elo-card.component.html
  webapp/src/app/ui/league/elo-card/elo-card.component.ts
Labels: client, size:L, feature, lgtm

#259 Fix: Readme Setup Guide Link
  README.md
Labels: bug, documentation, size:XS, lgtm

#260 Update webapp dependencies
  webapp/package-lock.json
  webapp/package.json
Labels: client, size:XXL

#264 Add release notes in footer and version bump script
  update_version.sh
  webapp/src/app/core/footer/footer.component.html
Labels: client, size:L, feature

#267 Fix: Replace deprecated `allowSignalWrites`-flag
  webapp/package-lock.json
  webapp/package.json
  webapp/src/libs/ui/ui-accordion-helm/src/lib/hlm-accordion-content.component.ts
  webapp/src/libs/ui/ui-input-helm/src/lib/hlm-input.directive.ts
  webapp/src/libs/ui/ui-table-helm/src/lib/hlm-caption.component.ts
  webapp/src/libs/ui/ui-table-helm/src/lib/hlm-table.component.ts
Labels: bug, client, size:M, lgtm

#265 Move Contributors to Server and Fix About-Page
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/Application.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/config/CacheConfig.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/ContributorDTO.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/MetaController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/meta/MetaService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/syncing/GitHubDataSyncService.java
  server/application-server/src/main/resources/application.yml
  webapp/src/app/@types/github.d.ts
  webapp/src/app/about/about.component.html
  webapp/src/app/about/about.component.ts
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/meta.service.ts
  webapp/src/app/core/modules/openapi/api/meta.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/contributor.ts
  webapp/src/app/core/modules/openapi/model/models.ts
Labels: bug, client, application-server, needs documentation, size:L, feature, lgtm

#266 Display League Points Change and End-Date of Leaderboard
  server/application-server/openapi.yaml
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardController.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java
  server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeagueChangeDTO.java
  webapp/src/app/core/modules/openapi/.openapi-generator/FILES
  webapp/src/app/core/modules/openapi/api/leaderboard.service.ts
  webapp/src/app/core/modules/openapi/api/leaderboard.serviceInterface.ts
  webapp/src/app/core/modules/openapi/model/league-change.ts
  webapp/src/app/core/modules/openapi/model/models.ts
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.component.html
  webapp/src/app/home/leaderboard/leaderboard-overview/leaderboard-overview.component.ts
Labels: enhancement, client, application-server, size:L, feature, lgtm
